DATABASE_URL="postgresql://USER:PASSWORD@HOST-pooler.REGION.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST.REGION.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXT_PUBLIC_APP_NAME="Weather Assessment"
NEXT_PUBLIC_CANDIDATE_NAME="Neil C."
